<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="dao.winter">
    <sql id="classifyListSql">id,createDate_ createDate, lastUpdate_ lastUpdate, status_ status, websitId_ websitId, classifyId_ classifyId,
        surfacePlotUrl_ surfacePlotUrl, describes_ as describes, duration_ duration, heat_ heat,contextUrl_ contextUrl,isDownload_ isDownload</sql>

    <!-- 批量插入列表 -->
    <insert id="insertBatchClassifyList" parameterType="java.util.List">
        INSERT INTO classify_list(createDate_, lastUpdate_, status_, websitId_, classifyId_, surfacePlotUrl_, describe_, duration_, heat_,contextUrl_)
        VALUES
        <foreach collection="list" separator="," item="item">
            (#{item.createDate},#{item.lastUpdate},#{item.status},#{item.websitId},#{item.classifyId},#{item.surfacePlotUrl},#{item.describe},#{item.duration},#{item.heat},#{item.contextUrl})
        </foreach>
    </insert>


    <!-- 获取全部列表 -->
    <select id="listCalssifyList" resultType="com.sz.winter.basereptile.model.ClassifyList">
        select <include refid="classifyListSql"/>
        from classify_list and status_ = 1
    </select>

    <!-- 获取未拉去的视频信息列表 -->
    <select id="getNotDowloadVideo" resultType="com.sz.winter.basereptile.model.ClassifyList">
        SELECT <include refid="classifyListSql"/>
        from classify_list cl  where id not in (SELECT classifyListId_ from video_fragmentation )
        and cl.status_ = 1
    </select>

    <!-- 获取未拉去的封面图信息列表 -->
    <select id="getNotDowloadImage" resultType="com.sz.winter.basereptile.model.ClassifyList">
        SELECT <include refid="classifyListSql"/>
        from classify_list cl  where cl.surfacePlotDir_ is null
        and cl.status_ = 1
    </select>

    <!-- 更新列表详情信息 -->
    <update id="updateClassifyList" parameterType="com.sz.winter.basereptile.model.ClassifyList">
        update classify_list
        <set>
            <if test="id!=null">id=#{id,jdbcType=BIGINT},</if>
            <if test="createDate!=null">createDate_=#{createDate,jdbcType=TIMESTAMP},</if>
            <if test="lastUpdate!=null">lastUpdate_=#{lastUpdate,jdbcType=TIMESTAMP},</if>
            <if test="status!=null">status_=#{status},</if>
            <if test="websitId!=null">websitId_=#{websitId},</if>
            <if test="classifyId!=null">classifyId_=#{classifyId},</if>
            <if test="surfacePlotUrl!=null">surfacePlotUrl_=#{surfacePlotUrl},</if>
            <if test="describes!=null">describes_=#{describes},</if>
            <if test="duration!=null">duration_=#{duration},</if>
            <if test="heat!=null">heat_=#{heat},</if>
            <if test="contextUrl!=null">contextUrl_=#{contextUrl},</if>
            <if test="isDownload!=null">isDownload_=#{isDownload},</if>
            <if test="surfacePlotDir!=null">surfacePlotDir_=#{surfacePlotDir}</if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>


</mapper>
